.state-message you've been assigned a person already.

p.small
  | Remember: If you need something mailed, please have it ready by december 7th.
  br
  span#timer

a.button.button-small.button-faded(href='/forgot') I can't remember who
