.welcome-header
  h1.welcome-heading
    if !user.givingTo && !user.optedOut
      .welcome-upper Welcome to the
    .welcome-text
      span P
      span i
      span x
      span e
      span l
      | &nbsp;
      span U
      span n
      span i
      span o
      span n
    .welcome-text
      span S
      span e
      span c
      span r
      span e
      span t
      | &nbsp;
      span S
      span a
      span n
      span t
      span a
  if !user.givingTo && !user.optedOut
    h2.welcome-subheader Online Companion App<sup>&#8482;</sup>
