.welcome-header
  h1.welcome-heading
    .welcome-upper Welcome to the
    .welcome-text
      span P
      span i
      span x
      span e
      span l
      | &nbsp;
      span U
      span n
      span i
      span o
      span n
    .welcome-text
      span S
      span e
      span c
      span r
      span e
      span t
      | &nbsp;
      span S
      span a
      span n
      span t
      span a
  h2.welcome-subheader Online Companion App<sup>&#8482;</sup>

.welcome-blurb
  p It's a gift exchange, you know the deal!

  p We suggest <strong>home-made, home-baked, vintage or thrifted items</strong>, in the $15-40 range.

  p For those not in the Vancouver/Victoria area, PxU can arrange for shipping, or contact one of your co-workers to pick up a gift on your behalf.

p.question Is this something you are interested in?

button.button.choice-button.yes yes, a million times yes

button.button.choice-button.no thanks but I'll sit this one out
