.welcome-blurb
  p It's a gift exchange, you know the deal!

  p We suggest <strong>home-made, home-baked, vintage or thrifted items</strong>, in the $15-40 range.

  p For those not in the Vancouver/Victoria area, PxU can arrange for shipping, or contact one of your co-workers to pick up a gift on your behalf.

p.question Is this something you are interested in?

a.button.choice-button.yes(href='/accept') yes, a million times yes

a.button.choice-button.button-faded.no(href='/decline') thanks but I'll sit this one out
