.welcome-header
  h1.welcome-heading
    .welcome-upper Welcome to the
    .welcome-middle Pixel Union
    .welcome-lower Secret Santa
  h2.welcome-subheader Online Companion App<sup>&#8482;</sup>

p.welcome-blurb Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ex maiores modi, tempore temporibus veritatis, recusandae deleniti repellendus nisi rem, quae odit quas enim quasi et ut eius sint, commodi.

p.question #{user.name}, Is this something you're interested in?

button.button.choice-button.yes yes, a million times yes

button.button.choice-button.no thanks but I'll sit this one out
