extends layout

block content
  h2 Who is part of the secret santa?
  form.form-user-select(action="/admin/update", method="post")
    each user in users
      .form-field
        label.form-label
          input.input-checkbox(type="checkbox", name='users', value=user.slackId, checked=user.participating)
          span.form-label-text= user.full_name
    button(type="submit") Save
