extends layout

block content
  p Well, it looks like you're the last person and don't have anyone to give to! We didn't really have time to think about what to do in this situation. Maybe talk to Ben or Reid or Scott?

  p
    a.button.button-small(href='/') Okay :(
