extends layout

block content
  if user
    if user.givingTo
      h1 you've been assigned a person!
      strong= user.givingTo
      a(href="/users/unassign") unassign me
    else
      a(href="/users/assign") assign me
    div
      a(href='/logout')
        small Logout
  else
    a(href='/auth/slack') login
