extends layout

block content
  if user
    include ../snippets/heading.jade

    if user.givingTo
      include ../snippets/already-assigned.jade
    else if user.optedOut
      include ../snippets/opted-out.jade
    else
      include ../snippets/welcome.jade
  else
    a.button.login(href='/auth/slack') login
