extends layout

block content
  if user
    if user.givingTo
      h1 you've been assigned a person!
      strong= user.givingTo
      a(href="/users/unassign") unassign me
    else
      include ../snippets/welcome.jade
  else
    a.button.login(href='/auth/slack') login
