doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Poppins:400,600,500,700|Source+Serif+Pro:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class=bodyClass)
    include ../snippets/flash-messages.jade
    .page-wrap
      .page-wrap-inner
        block content

    if user
      a.button.logout(href='/logout') Logout

    script(src='/javascripts/app.js')
