extends layout

block content
  p.small <strong>#{givingNotReceiving.length}</strong> people giving gifts with no one giving to them

  p.small <strong>#{receivingNotGiving.length}</strong> people receiving gifts who are not giving to anyone
