.already-assigned {
  margin-bottom: 80px;
  font-family: $sans;
  font-size: 32px;
  font-weight: 600;
  color: #aaa;
}

.assigned-img {
  width: 200px;
  border-radius: 50%;
}

.assigned-name {
  margin: 10px 0 60px;
  font-family: $sans;
  font-size: 36px;
  font-weight: 600;
  color: $green;
}

.assigned-note {
  max-width: 240px;
  font-size: 13px;
}
