html { box-sizing: border-box; }

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body { height: 100%; }

body {
  font-family: $serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: #20222C;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

p { margin: 2em 0; }

sup { font-size: 0.8em; }

h1,
h2,
h3 {
  margin: 1rem 0;
  font-family: $sans;
  color: #aaa;
}

.page-wrap {
  display: table;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.page-wrap-inner {
  display: table-cell;
  padding: 80px 0;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  line-height: 1;
  text-align: center;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 3px;

  &:hover { border-color: #888; }
}

.button-small {
  padding: 5px 12px;
  font-size: 14px;
}

.button-faded {
  color: #888;
  border-color: #ccc;

  &:hover { border-color: darken(#ccc, 5%); }
}

.logout {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 13px;
}

.message {
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  background: #fff;
}


// assignment

.state-message {
  margin-bottom: 10px;
  font-family: $sans;
  font-size: 24px;
  font-weight: 600;
  color: #aaa;
}

.small {
  margin: 0 0 30px;
  font-size: 14px;
  color: #666;
}

.assigned-img {
  width: 192px;
  border-radius: 50%;
  animation-name: image-pop;
  animation-duration: 0.8s;
}

.assigned-name {
  margin: 10px 0 60px;
  font-family: $sans;
  font-size: 36px;
  font-weight: 600;
  color: $green;
  animation-name: slide-up;
  animation-duration: 0.8s;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}

.assigned-note {
  max-width: 240px;
  font-size: 13px;
  animation-name: fade-in;
  animation-duration: 0.6s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes image-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
