.not-authed {
  background-color: #8891BA;
  background-image: url("//1feb14f2ae6bd509e324-86b7d0af7bcdc7047f4b69c520d7aac6.r50.cf5.rackcdn.com/scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-top: -18px;
  margin-left: -50px;
  background: #fff;
  border: 0;
}
