.welcome-header {
  margin-bottom: 60px;
}

.welcome-heading {
  margin: 40px 0 8px;
  font-weight: normal;
}

.welcome-upper {
  @extend %smallcaps;
  margin-bottom: 10px;
}

.welcome-text {
  font-family: $sans;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 0 #fff,
               2px 2px 0 #fff,
               3px 3px #fff,
               4px 4px #ccc;
  text-transform: uppercase;

  span {
    display: inline-block;

    &:nth-child(odd) { color: $green; }

    &:nth-child(even) { color: $red; }

    &:nth-child(3n) { transform: translateY(-4px); }

    &:nth-child(3n + 1) { transform: translateY(4px); }

    &:nth-child(5n) { transform: rotate(3deg); }

    &:nth-child(5n + 1) { transform: rotate(-3deg); }
  }
}

.welcome-subheader {
  @extend %smallcaps;
  margin: 0 0 60px;
}

.welcome-blurb {
  max-width: 400px;
  margin: 180px auto;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  text-align: center;
}


.question {
  margin: 60px 0 40px;
  font-family: $sans;
  font-size: 24px;
  font-weight: 500;
  color: $green;
  text-align: center;
}

.choice-button {
  display: block;
  width: 300px;
  padding: 14px 30px;
  margin: 0 auto 20px;

  &.no {
    color: #888;
    border-color: #ccc;

    &:hover { border-color: darken(#ccc, 5%); }
  }
}
