@import "normalize";

$serif: "Source Serif Pro", serif;
$sans: "Poppins", sans-serif;

$red: #D11F0A;
$green: #77AB93;

%clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

@import "global";
@import "login";
@import "welcome";
