@import "normalize";

$serif: "Source Serif Pro", serif;
$sans: "Poppins", sans-serif;

$red: #D11F0A;
$green: #77AB93;

%clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

%smallcaps {
  font-family: $serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

@import "global";
@import "login";
@import "welcome";
@import "assigned";
@import "admin";
